@{
	ViewData["titulo"] = "- Política de Privacidad";
}

<style>
	div.parrafo {
		font-size: small;
	}
	.parrafo h4 {
		font-size: 12pt;
	}
	.parrafo {
		margin-bottom: 10px;
	}
	
	p, li {
		text-align: justify !important; 
	}
</style>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="container">
		<ol>
			<li>
				<a href="@Url.Content("~/")">Inicio</a>
			</li>
			<li>Privacidad</li>
		</ol>
	</div>
</section><!-- End Breadcrumbs -->

<section id="contact" class="contact">
<div class="container" data-aos="fade-up">

@* <div class="section-title"> *@
@* 	<h2>Política de privacidad del sitio</h2> *@
@* </div> *@

<h2>Política de Privacidad de Phishing Detection</h2>

<hr/>

<div class="parrafo">
	<p>
		Le informamos acerca de nuestra Política de Privacidad respecto del tratamiento y protección de los datos de
		carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través del sitio web Phishing Detection.
	</p>

	<p>
		En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales,
		reflejada en las disposiciones contenidas en la Ley Orgánica de Protección de Datos Personales publicada 
		en el Registro Oficial Suplemento 459 del 26 de mayo de 2021 (en adelante, “LOPDP”), por medio de los cuales se dictan disposiciones generales para la protección de datos personales.
	</p>
	<p>
		El uso del sitio web implica la aceptación de esta Política de Privacidad, así como las condiciones incluidas en el Aviso Legal.
	</p>
</div>

@* <div> *@
@* 	<h4>Identidad del responsable</h4> *@
@* 	<p> *@
@* 		Titular: [NOMBRE DE LA EMPRESA] *@
@* 		Identificación Fiscal: [NÚMERO DE IDENTIFICACIÓN FISCAL] *@
@* 		Correo electrónico: [EMAIL DEL ÁREA RESPONSABLE] *@
@* 		Sitio web: Phishing Detection *@
@* 	</p> *@
@* </div> *@

<div class="parrafo">
	<h4>Obtención de datos personales</h4>

	<p>
		Para navegar por Phishing Detection no es necesario que facilite ningún dato personal. Los casos en los que sí proporciona sus datos personales son los siguientes:
	</p>

	<ul>
		<li>Al contactar a través de los formularios de contacto o enviar un correo electrónico.</li>
		<li>Al realizar un comentario en un artículo o página.</li>
		<li>Al inscribirse en un formulario de suscripción o un boletín.</li>
		<li>Al adquirir un producto o utilizar un servicio</li>
		<li>Al ingresar y registrar su usuario.</li>
	</ul>
</div>

<div class="parrafo">
	<h4>Sus derechos</h4>

	<p>
		El Titular le informa que sobre sus datos personales tiene derecho a:
	</p>

	<ul>
		<li>Solicitar el acceso a los datos almacenados.</li>
		<li>Solicitar una rectificación o la cancelación.</li>
		<li>Solicitar la limitación de su tratamiento.</li>
		<li>Oponerse al tratamiento.</li>
		<li>Solicitar la portabilidad de sus datos.</li>
	</ul>

	<p>
		El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el interesado, solicitándolo directamente al Titular,
		lo que significa que cualquier cliente, suscriptor o colaborador que haya facilitado sus datos en algún momento puede dirigirse al Titular
		y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos,
		solicitar la portabilidad de sus datos personales, oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los archivos del Titular.
	</p>

	<p>
		Para ejercitar sus derechos de acceso, rectificación, cancelación, portabilidad y oposición tiene que enviar un correo electrónico
		a Phishing Detection junto con la prueba válida en derecho como una fotocopia de la cédula de ciudadanía o equivalente.
	</p>

	<p>
		Tiene derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso,
		el Ministerio de Telecomunicaciones y de le Sociedad de la Información del Ecuador, si considera que el tratamiento de datos personales que le conciernen infringe el Reglamento.
	</p>

</div>

<div class="parrafo">
	<h4>Finalidad del tratamiento de datos personales</h4>

	<p>
		Cuando se conecta al sitio web para utilizar el servicio de entrenamiento de detección de phishing, o envía un comentario por formulario,
		está facilitando información de carácter personal de la que el responsable es el Titular.
		Esta información puede incluir datos de carácter personal como pueden ser su dirección IP,
		nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información,
		da su consentimiento para que su información sea recopilada, utilizada, gestionada y almacenada por Phishing Detection,
		sólo como se describe en el Aviso Legal y en la presente Política de Privacidad.
	</p>

	<p>
		Los datos personales y la finalidad del tratamiento por parte del Titular son diferentes según el sistema de captura de información:
	</p>

	<p>
    	<b>1. </b>Formularios de ingreso a evaluaciones: El Titular solicita los siguientes datos personales: Nombre y apellidos, género, dirección de correo electrónico,
    	edad y actividad profesional y/o económica para realizar estudios estadísticos sobre seguridad cognitiva.
    </p>
	
	<p>
		<b>2. </b> Formularios de contacto: El Titular solicita datos personales entre los que pueden estar: Nombre y apellidos, dirección de correo electrónico,
		número de teléfono y dirección de su sitio web con la finalidad de responder a sus consultas.
		Por ejemplo, el Titular utiliza esos datos para dar respuesta a sus mensajes, dudas, quejas, comentarios o inquietudes que pueda tener
		relativas a la información incluida en el sitio web, los servicios que se prestan a través del sitio web, el tratamiento de sus datos personales,
		cuestiones referentes a los textos legales incluidos en el sitio web, así como cualquier otra consulta que pueda tener
		y que no esté sujeta a las condiciones del sitio web o de la contratación.
	</p>

	<p>
		Existen otras finalidades por las que el Titular trata sus datos personales:
	</p>

	<ul>
		<li>
			Para garantizar el cumplimiento de las condiciones recogidas en el Aviso Legal y en la ley aplicable.
			Esto puede incluir el desarrollo de herramientas y algoritmos que ayuden a este sitio web a garantizar la confidencialidad de los datos personales que recoge.
		</li>
		<li>
			Apoyar y mejorar los servicios que ofrece este sitio web.
		</li>
		<li>
			Para analizar la navegación. El Titular recoge otros datos no identificativos que se obtienen mediante el uso de cookies que se
			descargan en su computador cuando navega por el sitio web cuyas características y finalidad están detalladas en la Política de Cookies.
		</li>
	</ul>

</div>

<div class="parrafo">
	<h4>Seguridad de los datos personales</h4>

	<p>
		Para proteger sus datos personales, el Titular toma todas las precauciones razonables y
		sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de estos.
	</p>

	<p>
		@* El sitio web está alojado en TecnoSoluciones.com.  *@
		La seguridad de sus datos está garantizada,
		ya que toman todas las medidas de seguridad necesarias para ello. Puede consultar su política de privacidad para tener más información.
	</p>
</div>

<div class="parrafo">
	<h4>Política de Cookies</h4>

	<p>
		Para que este sitio web funcione correctamente necesita utilizar cookies, que es una información que se almacena en su navegador web.
		Las finalidad de este mecanismo es la protección de datos de sesión de usuario que permiten utilizan los servicios del sitio web y no
		se utilizan para seguimiento o identificación posterior de usuarios en otros sitios web externos.
	</p>
</div>

<div class="parrafo">
	<h4>Legitimación para el tratamiento de datos</h4>

	<p>
		La base legal para el tratamiento de sus datos es: el consentimiento.
	</p>

	<p>
		Para contactar con el Titular, utilizar los servicios o realizar comentarios en este sitio web tiene que aceptar la presente Política de Privacidad.
	</p>
</div>

<div class="parrafo">
	<h4>Categorías de datos personales</h4>

	<p>
		Las categorías de datos personales que trata el Titular son:
	</p>

	<ul>
		<li> Datos identificativos.</li>
		<li> Conservación de datos personales..</li>
	</ul>


	<p>Los datos personales que proporcione al Titular se conservarán hasta que solicite su supresión.</p>
</div>

<div class="parrafo">
	<h4>Navegación web</h4>

	<p>
		Al navegar por Phishing Detection se pueden recoger datos no identificativos, que pueden incluir, la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios,
		hábitos de navegación y otros datos que no pueden ser utilizados para identificarle.
	</p>
</div>

<div class="parrafo">
	<h4>Exactitud y veracidad de los datos personales</h4>

	<p>
		Se compromete a que los datos facilitados al Titular sean correctos, completos, exactos y vigentes, así como a mantenerlos debidamente actualizados.
	</p>

	<p>
		Como Usuario del sitio web es el único responsable de la veracidad y corrección de los datos que remita al sitio exonerando a el Titular de cualquier responsabilidad al respecto.
	</p>
</div>


<div class="parrafo">
	<h4>Aceptación y consentimiento</h4>

	<p>
		Como Usuario del sitio web declara haber sido informado de las condiciones sobre protección de datos de carácter personal,
		acepta y consiente el tratamiento de estos por parte del Titular en la forma y para las finalidades indicadas en esta Política de Privacidad.
	</p>
</div>

<div class="parrafo">
	<h4>Revocabilidad</h4>

	<p>
		Para ejercitar sus derechos de acceso, rectificación, cancelación, portabilidad y oposición tiene que enviar un correo electrónico
		a [EMAIL DEL ÁREA RESPONSABLE] junto con la prueba válida en derecho como una fotocopia de la cédula de ciudadanía o equivalente.
	</p>
	<p>
		El ejercicio de sus derechos no incluye ningún dato que el Titular esté obligado a conservar con fines administrativos, legales o de seguridad.
	</p>
</div>

<div class="parrafo">
	<h4>Cambios en la Política de Privacidad</h4>

	<p>
		El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.
	</p>
	<p>
		Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
	</p>
</div>

</div>
</section>