<div class="row" id="app">
	<div class="col-sm-12">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Preguntas</h5>

				<div>
					<a class="btn btn-primary btn-sm" href="@Url.Content("~/Manage/Preguntas/crear")">
						<i class="bi bi-plus-square"></i>
						Crear
					</a>
					
					<a class="btn btn-secondary btn-sm ms-1" href="@Url.Content("~/Manage/Preguntas/exportar")">
						<i class="bi bi-printer"></i>
						Exportar Excel
					</a>
					
				</div>


				<table class="display minitabla" id="tpreguntas" style="width:100%">
					<thead>
						<tr>
							<th style="width:50px"></th>
							<th>Nombre</th>
							<th>Titulo Email</th>
							<th>Legitimo</th>
							<th>Dificultad</th>

						</tr>
					</thead>
					<tbody></tbody>
				</table>

			</div>
		</div>

	</div>
</div>


@section Scripts {
	@await Html.PartialAsync("_Datatables")

	<script>

		Vue.createApp({
			data() {
				return {baseUrl:'@ViewBag.self'}
			},
			methods: {
				consultar() {
					$.post(this.baseUrl + '/lista').then(r => {
						$('#tpreguntas').DataTable().clear().rows.add(r).draw();
					})
				}
			},
			mounted() {
				var self = this;
				var tabla = $('#tpreguntas').DataTable({
					language: {
						url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-AR.json',
					},

					scrollX: true,
					data: [],
					paging: false,

					columns: [
						{
							data: null,
							render: function (data, type, row) {
								var url = self.baseUrl + '/edit/' + row.id;
								return '<a class="" href="' + url + '">Editar</a>';
							}
						},
						{ data: 'nombre' },
						{ data: 'subject' },
						{ data: 'legit' },
						{ data: 'dif' },
					],
					order: []
				});
				self.consultar();
			}
		}).mount('#app')

	</script>
}
