<div class="row" id="app">
	<div class="col-sm-12">

		<div class="card">
			<div class="card-body">
				@*<h5 class="card-title">Filtros</h5>*@

				<div class="row mb-2 mt-3">
					<div class="col-sm-6">
						<a class="btn btn-primary btn-sm" href="@Url.Content("~/Manage/Examenes/crear")">
							<i class="bi bi-plus-square"></i>
							Crear Examen
						</a>
					</div>
				</div>

				<table class="display minitabla" id="texamenes" style="width:100%">
					<thead>
						<tr>
							<th>Titulo</th>
							<th>Tipo</th>
							<th>Activo</th>
							<th>Creación</th>
							<th>Modificación</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>


@section Scripts {
	@await Html.PartialAsync("_Datatables")
	@await Html.PartialAsync("_Validation")

	<script>

		Vue.createApp({
			data() {
				return {baseUrl:'@ViewBag.self'}
			},
			methods: {
				consultar() {
					$.post(this.baseUrl + '/lista').then(r => {
						$('#texamenes').DataTable().clear().rows.add(r).draw();
					})
				}
			},
			mounted() {
				var self = this;
				var tabla = $('#texamenes').DataTable({
					language: {
						url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-AR.json',
					},
					data: [],
					paging: true,

					columns: [
						{
							data: 'titulo',
							render: function (data, type, row) {
								let url = self.baseUrl + '/edit/' + row.id;
								return `<a href="${url}">${row.titulo}</a>`
							}
						},
						{ data: 'tipo' },
						{ data: 'activo', orderable: false },
						{ data: 'creacion' },
						{ data: 'modificacion' },
					],
					order: []
				});


				self.consultar();
			}
		}).mount('#app')

	</script>
}