<template id="tplRespuestas">
	<div class="row">
		<div class="col-sm-12 col-lg-4" :class="{'col-lg-12':print}">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Respuestas</h5>

					<p class="small" v-if="!print">Haga click en una pregunta para ver su descripción</p>

					<table class="table table-hover minitabla">
						<tbody>
							<tr v-if="print">
								<th class="col-sm-4">Num.</th>
								<th class="col-sm-4 text-center">Tiempo</th>
								<th class="col-sm-4 text-end">Resultado</th>
							</tr>
							<tr v-for="(r, ix) in lista" :class="claseSelect(r)"
							    style="cursor: pointer" @@click="selPregunta(r, ix)">
								<td class="col-4">
									<h6 class="fw-bold">Pregunta {{ ix+1 }}</h6>
								</td>
								<td class="col-4 text-center">
									{{ numero(r.tiempo) }} seg
								</td>
								<td class="col-4 text-end">
									<span v-if="r.score > 0">
										Correcto
										<img src="~/img/check.png" alt=""/>
									</span>
									<span v-else>
										Error
										<img src="~/img/eliminar.png" alt=""/>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mt-2" v-if="interacciones">
				<div class="card-body">
					<h5 class="card-title">Interacciones</h5>

					<table class="table minitabla">
						<tr>
							<th>Promedio Clicks por pregunta</th>
							<th>Promedio Tiempo mouse hover (s)</th>
							<th>Tiempo Total mouse hover (s)</th>
							<th>Total Clicks en vínculos</th>
							<th>Total Vínculos revisados</th>
						</tr>
						<tr>
							<td>{{ interacciones.avgClicksPregunta }}</td>
							<td>{{ interacciones.hoverAvg }}</td>
							<td>{{ interacciones.hoverTotal }}</td>
							<td>{{ interacciones.totalClicks }}</td>
							<td>{{ interacciones.hovers.length }}</td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-8" v-if="!print">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						{{ tituloPregunta }}
					</h5>

					<div v-if="question">

						<h5 class="text-center">
							Tipo : <b>{{ question.tipo }}</b>
						</h5>

						<div class="card card-body">
							<div class="card-title">
								Explicación:
							</div>
							<p class="small" style="text-align: justify-all">{{ question.explicacion }}</p>
						</div>

						<div class="card card-body mt-2">
							<img :src="imgRetro()" alt="Descripcion" style="width:100%"/>
						</div>

						<div class="row mt-2">
							<div class="col-sm-6">

								<div class="card smaller">
									<div class="card-body pt-2">
										<h6 class="fw-bold">Comentario usuario</h6>
										<div style="font-size: 9pt">{{ question.comentario }}</div>

									</div>
								</div>

							</div>
							<div class="col-sm-6">
								<div class="card smaller">
									<div class="card-body pt-2">
										<h6 class="fw-bold">Interacciones</h6>
										<div v-if="!question.interacciones || question.interacciones.length == 0" class="small">
											No hubo interacción
										</div>
										<table class="table minitabla" v-else="">
											<tr>
												<th>Tipo</th>
												<th>Texto</th>
												<th title="Tiempo en segundos que paso flotando el mouse sobre el vínculo para ver la dirección real del mismo">
													Tiempo "hover"
													<i class="bi bi-question-circle-fill"></i>
												</th>
												<th># Clicks</th>
											</tr>
											<tr v-for="e in question.interacciones">
												<td v-text="e.tipo=='link' ? 'Vinculo' : 'Archivo'"></td>
												<td v-text="e.link"></td>
												<td v-text="e.hover + 's'"></td>
												<td v-text="e.clicks"></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>

						@* <div class="card card-body mt-2 pt-3 smaller" v-if="question.comentario"> *@
						@* 	<strong>Comentario usuario:</strong> *@
						@* 	<div style="font-size: 9pt">{{ question.comentario }}</div> *@
						@* </div> *@

					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="tplResumen">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Resumen</h5>

			<table class="table minitabla table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-4">Usuario</th>
						<td class="text-center" v-text="model.nombre"></td>
					</tr>
					<tr>
						<th>Fecha/hora inicio</th>
						<td class="text-center" v-text="fecha(model.fechaExamen, formatoFechaFull)"></td>
					</tr>
					<tr>
						<th>Fecha/hora fin</th>
						<td class="text-center" v-text="fecha(model.fechaFin, formatoFechaFull)"></td>
					</tr>
					<tr>
						<th>Puntaje</th>
						<td class="text-center">
							<span class="fw-bold" v-text="model.score + ' / ' + model.maxScore" style="font-size: large"></span>
							<img src="~/img/score.png" alt="" width="24" height="24" v-show="model.exito > 70"/>
						</td>
					</tr>
					<tr>
						<th>% Éxito</th>
						<td class="text-center" v-text="porcentaje(model.exito)"></td>
					</tr>
					<tr>
						<th>Tiempo Total</th>
						<td class="text-center" v-text="numero(model.tiempoTotal)  + ' seg'"></td>
					</tr>
					<tr>
						<th>Tiempo promedio por pregunta</th>
						<td class="text-center" v-text="numero(model.avgTiempo) + ' seg'"></td>
					</tr>
					<tr>
						<th>Puntaje promedio</th>
						<td class="text-center" v-text="numero(model.avgScore)"></td>
					</tr>
					<tr v-if="model.tiempoCuestionario">
						<th>Tiempo Cuestionario</th>
						<td class="text-center" v-text="numero(model.tiempoCuestionario) + ' seg'"></td>
					</tr>

				</tbody>
			</table>

			<div>
				<h5 class="d-inline">Aciertos {{ correctas }}</h5>

				<h5 class="d-inline float-end">{{ incorrectas }} Errores</h5>
			</div>
			<div class="progress mt-2 error-examen" style="height: 45px;">
				@* <div class="progress-bar acierto-examen" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div> *@
				<div class="progress-bar acierto-examen" role="progressbar" :style="estiloBarra" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
			</div>

		</div>
	</div>

</template>

<template id="tplGrafPercepcion">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Nivel de Percepción de Riesgo</h5>

			<div style="height:35vh;" align="center">
				<canvas id="grafPercepcion"></canvas>
			</div>

			<div class="text-center mt-3">
				<h5>Nivel de Percepción</h5>
				<div class="fw-bold">
					<span v-text="numero(model.scoreCuestionario)"></span> / <span v-text="model.percepcion"></span>
				</div>
			</div>

		</div>
	</div>
</template>

<template id="tplCuestDetalle">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Detalle Cuestionario</h5>

			<div style="font-size: smaller">

				<h6 class="text-center">Respuestas</h6>
				<div style="max-height: 250px; overflow-y: auto;">
					<table class="table minitabla table-hover small">
						<thead>
							<tr>
								<th>Pregunta</th>
								<th>Respuesta</th>
								<th>Score</th>
								<th>Dimension</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="p in respuestas">
								<td v-text="p.pregunta"></td>
								<td class="text-center" v-text="p.respuesta"></td>
								<td class="text-center" v-text="p.puntaje"></td>
								<td class="text-center" v-text="p.dimension"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<h6 class="text-center">Agrupación</h6>
				<table class="table minitabla table-hover small">
					<thead>
						<tr>
							<th class="col-sm-3">Dimensión</th>
							<th>Suma</th>
							<th>Promedio</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="p in percepcion">
							<td v-text="p.dimension"></td>
							<td v-text="p.suma"></td>
							<td v-text="numero(p.prom)"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</template>

<script src="~/lib/chart.js"></script>

<script>
	const GraficoPercepcion = {
		props: ['model', 'percepcion', 'print'],
		template: '#tplGrafPercepcion',
		data() {
			return {};
		},
		computed: {
		},
		created() { },
		methods: {
		},
		mounted() {
			var mapaPer = {
				1: 'Probabilidad percibida',
				2: 'Susceptibilidad percibida',
				3: 'Gravedad percibida'
			}

			var configPer = {
				type: 'polarArea',
				data: {
					labels: [],
					datasets: [
						{
							label: 'Series Percepcion',
							data: [],
						}
					],
				},
				options: {
					responsive: true,
				},
			}

			this.percepcion.forEach(x => {
				configPer.data.labels.push(mapaPer[x.dimension] || x.dimension)
				configPer.data.datasets[0].data.push(x.prom)
			});

			var chartPer = new Chart(
				document.getElementById('grafPercepcion'),
				configPer
			);

		},
	}

	const CompResumen = {
		props: ['model', 'respuestas', 'print'],
		template: '#tplResumen',
		data() {
			return {
				correctas: 0,
				incorrectas: 0,
			};
		},
		computed: {
			estiloBarra() {
				return {
					width: this.model.exito + '%'
				}
			}
		},
		created() { },
		methods: {
		},
		mounted() {
			this.correctas = _.filter(this.respuestas, x => x.score > 0).length;
			this.incorrectas = this.respuestas.length - this.correctas;
		},
	}

	const CompCuestDetalle = {
		props: ['percepcion', 'respuestas', 'print'],
		template: '#tplCuestDetalle',
		data() {
			return {};
		},
		created() { },
		methods: {
		},
		mounted() {
		},
	}

	const CompRespuestas = {
		props: ['lista', 'retroPath', 'print', 'interacciones'],
		template: '#tplRespuestas',
		data() {
			return {
				question: null,
			};
		},
		computed: {
			tituloPregunta() {
				const q = this.question;
				return q ? "Pregunta " + q.indice : 'Seleccione una pregunta';
			},
		},
		created() { },
		methods: {
			claseSelect(p) {
				if (this.print) return '';
				return this.question === p ? 'bg-info' : '';
			},
			imgRetro() {
				return this.retroPath + '/' + this.question.imagenRetro
			},
			selPregunta(p, ix) {
				p.indice = ix + 1
				this.question = p
			},
		},
		mounted() {
		},
	}

</script>