@model ErrorViewModel
@{
	ViewData["Title"] = "Oops!";
}

<section id="breadcrumbs" class="breadcrumbs">
	<div class="container">
		<ol>
			<li>
				<a href="@Url.Content("~/")">Inicio</a>
			</li>
		</ol>
	</div>
</section><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
	<div class="container">
		<div class="mb-lg-5">
			<h1>Oops!</h1>
		</div>

		<div class="mt-lg-3">
			<p>Ocurrió un error en la petición. Por favor intente más tarde y si el error persiste, comuníquese con el administrador.</p>

			<p>Sentimos las molestias.</p>
		</div>
	</div>
</section>