@{
	ViewData["Title"] = "Phishing Detection";
}

<div class="container text-white tamSize">
	<div class="row p-fix">
		<div class="col-lg-6 mt-5">
			<h1 class="display-4 mb-4 text-center">¿Eres capaz de detectar un ataque de tipo Phishing?</h1>
			<h3 class="lead mb-3 text-center">
				Esta plataforma web tiene como objetivo medir tu capacidad para detectar un
				ataque de Ingeniería Social tipo Phishing
			</h3>
			<a class="btn btn-outline-primary mt-3" id="btn-empezar" href="welcome/">EMPEZAR</a>
		</div>
		<div class="mt-5 col-lg-6">
			<div class="imgPhishing">
				<img src="~/images/imgPhishing.jpg" class="img-fluid"/>
			</div>
		</div>
	</div>
</div>

<div class="position-relative overflow-hidden p-md-5" id="descripcion">
	<div class="row my-auto p-md-5 justify-content-center">
		<div class="text-center col-md-8 mx-auto my-auto">
			<h1 class="my-5">¿Qué es Phishing?</h1>
			<h4 class="my-4">
				El Phishing es una técnica de ciberseguridad que utiliza el fraude, el engaño y el timo para
				mipular a sus víctimas y hacer que revelen información personal confidencial.
			</h4>
		</div>
	</div>
</div>