@{
    ViewData["Title"] = "Indicaciones";
}

<div class="bg-new pb-4">
    <nav class="shadow-sm p-2">
        <div class="flex-md-row text-center">
            <h2 class="py-2 txt-phishing">TEST DE PHISHING</h2>
        </div>
    </nav>
    <div class="box-indicaciones mx-auto card my-4 col-md-9">
        <div class="text-center card-header">
            <h2>Indicaciones</h2>
        </div>
        <div class="card-body py-2">
            <form>
                <div class="container">
                    <div class="row mb-2 justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col p-4 d-flex flex-column position-static text-center">
                                    <h4 class="poppin-font mb-5">
                                        <b>Observe con detalle</b> cada uno de los ejercicios que se van a desplegar a continuación y <b>seleccione si es phishing o legítimo</b>. 
                                    </h4>
                                    <h4 class="poppin-font">
                                        Al finalizar el ejercicio se desplegará una ventana donde usted debe <b>escribir la razón o razones de su decisión.</b>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col d-flex flex-column position-static p-4">
                                    <button type="submit" class="btn btn-outline-primary" @click="play()">
                                        Empezar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


