html {
	margin: auto;
	padding: 1em;
}

.container {
	min-width: 100%;
	padding: 0;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: white;
}

.header {
	background-color: #810000;
}

.list-group li {
	border: none;
	background-color: #810000;
	color: white;
}

#wrapper {
	background-color: #f8f9fa;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 1536px) {
	#collapseExample {
		display: block;
	}
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}

	.collapsable {
		display: none;
	}
}

.collapsable, .collapsable:focus, .collapsable:visited, .collapsable:active {
	background-color: transparent;
	border: none;

}

@media (max-width: 768px) {
	.list-group-item {
		display: none;
	}

	.collapsable {
		display: block;
	}
}

.bg-new {
	background: url(../images/bg-pattern.png), linear-gradient(to left, #259ea7, #064b83)
}

@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato');

.imgPhishing {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.img-fluid {
	border-radius: 10px;
}

.position-relative {
	background-color: #fdcc52;
	height: 80vh;
}

.text-white {
	color: white;
}


.tamSize {
	min-height: 90vh;
}

#btn-empezar {
	border-color: antiquewhite;
	color: #ffffff;
	border-radius: 20px;

}

.txt-phishing {
	color: #fdcc52;
}

.txt-phishing:hover {
	color: #ffffff;
}


.nav-link {
	color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover {
	color: #ffffff;
}

.p-fix {
	padding-top: 10%;
}