@model Webapp.Areas.Manage.Controllers.PantallaManageVm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row" id="app">
	<div class="col-sm-12">

		<div class="card">
			<div class="card-body smallForm">
				<h5 class="card-title">Filtros</h5>

				<form id="formFiltros" method="post">
					<div class="row">
						<div class="col-sm-4">
							<div class="row mb-3">
								<label for="" class="col-sm-2 col-form-label">Mes</label>
								<div class="col-sm-5">
									<select asp-items="Model.Meses" v-model="filtros.mes" name="mes"
									        class="form-select">
									</select>
								</div>
								<label for="" class="col-sm-2 col-form-label">Año</label>
								<div class="col-sm-3">
									<input type="text" class="form-control form-control-sm integer" name="anio" v-model="filtros.anio" maxlength="4">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="email" v-model="filtros.email">
								</div>
							</div>


						</div>
						<div class="col-sm-4">
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label col-form-label-sm">Nombre/Apellido</label>
								<div class="col-sm-9">
									<input type="text" class="form-control form-control-sm" name="nombre" v-model="filtros.nombre">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-3 col-form-label col-form-label-sm">Actividades</label>
								<div class="col-sm-9">
									<select asp-items="Model.Actividades" v-model="filtros.actividad" name="actividad[]"
									        data-width="100%"
									        multiple
									        class="selectpicker">
									</select>
								</div>
							</div>

						</div>
						<div class="col-sm-4">
							<div class="row mb-3">
								<label for="" class="col-sm-3 col-form-label">Estado</label>
								<div class="col-sm-9">
									<select asp-items="Model.Estados" v-model="filtros.estado" name="estado"
									        class="form-select">
									</select>
								</div>
							</div>
						</div>
					</div>


					<div>
						<button type="submit" class="btn btn-primary btn-sm">
							<i class="bi bi-search"></i>
							Filtrar
						</button>

						<a class="btn btn-secondary btn-sm ms-1" @@click="exportar()">
							<i class="bi bi-printer"></i>
							Exportar Evaluaciones
						</a>

						<a class="btn btn-secondary btn-sm ms-1" @@click="exportarRespuestas()">
							<i class="bi bi-printer"></i>
							Exportar Respuestas
						</a>

						<a class="btn btn-secondary btn-sm ms-1" @@click="exportarCuestionario()">
							<i class="bi bi-printer"></i>
							Exportar Resp. Cuestionario
						</a>

					</div>
				</form>
			</div>


			<div class="card">
				<div class="card-body">

					<div class="mt-3">
						<table class="display minitabla" id="tlista" style="width:100%">
							<thead>
								<tr>
									<th>Fecha Examen</th>
									<th>Nombre completo</th>
									<th>Email</th>
									<th>% Exito</th>
									<th>Score</th>
									<th>Tiempo total(s)</th>
									<th>Prom. tiempo(s)</th>
									<th>Percepción Seg.</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

	<form id="frmExport" method="post" action="@Url.Content("~/Manage/Evaluaciones/Exportar")">
		<input type="hidden" name="filtros" id="filtroJson"/>
	</form>

	<form id="frmExport2" method="post" action="@Url.Content("~/Manage/Evaluaciones/ExportarRespuestas")">
	</form>

	<form id="frmExport3" method="post" action="@Url.Content("~/Manage/Evaluaciones/ExportarCuestionario")">
	</form>

</div>


@section Scripts {
	@await Html.PartialAsync("_Datatables")
	@await Html.PartialAsync("_Validation")
	@* @await Html.PartialAsync("_Select") *@

	<script>
		Vue.createApp({
			data() {
				return {
					baseUrl:'@ViewBag.self',
					filtros:{
						email:null,
						nombre: null,
						mes: null,
						anio: null,
						estado: null,
						actividades: [],
					},
					lista:[]
				}
			},
			methods: {
				filtrar() {
					$('#tlista').DataTable().ajax.reload();
				},
				exportar() {
					$('#filtroJson').val(JSON.stringify(this.filtros));
					$('#frmExport').submit()
				},
				exportarRespuestas() {
					$('#frmExport2').submit()
				},
				exportarCuestionario() {
					$('#frmExport3').submit()
				}
			},
			mounted() {
				$('.integer').numeric("positiveInteger");

				var self = this;
				var tabla = $('#tlista').DataTable({
					language: {
						url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-AR.json',
					},
					columns: [
						{
							data: 'fechaExamen',
							render: function (data, type, row) {
								let url = self.baseUrl + '/detalle/' + row.id;
								return `<a href="${url}">${row.fechaExamen}</a>`
							}
						},
						//{ data: 'activo', orderable: false },
						{ data: 'nombreCompleto' },
						{ data: 'email' },
						{ data: 'exito' },
						{ data: 'score' },
						{ data: 'tiempo', render(data, type, row) {	return self.numero(row.tiempo) } },
						{ data: 'avgTiempo', render(data, type, row) {	return self.numero(row.avgTiempo) } },
						{ data: 'percepcion' },
						{ data: 'estado' },
					],
					
					columnDefs: [
                            // { width: '70px', targets: [ 0, 1, 11 ] },
                            { className: 'dt-center', targets: '_all' },
                        ],
					
					order: [[0, 'desc']],
					searching: false,

					processing: true,
                    serverSide: true,

					ajax: {
						url: self.baseUrl +'/lista',
						type: 'POST',
                        async: true,
						data: function (d) {
							if (d.start == 0) {
								d.page = 1
							} else {
								d.page = (d.start / d.length) + 1
							}
							d.jsonFiltros = JSON.stringify(self.filtros);

							if (d.order.length > 0) {
								d.order.forEach(e => {
									e.campo = d.columns[e.column].data
								});
							}

						},
					},
				});

				$('#formFiltros').validate({
					submitHandler() {
						self.filtrar()
						return false
					}
				})

			}
		})
		.use(globalDirectives)
		.mount('#app')

	</script>
}