@model Webapp.Controllers.InicioModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="app">
	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">
			<ol>
				<li>
					<a href="@Url.Content("~/")">Inicio</a>
				</li>
				<li>Evaluación</li>
			</ol>
		</div>
	</section><!-- End Breadcrumbs -->
	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Evaluación de Detección de Phishing</h2>
			</div>

			<div class="row smallForm">

				<div class="col-lg-12 mt-lg-0 d-flex align-items-stretch">
					<form action="" method="post" role="form" class="php-email-form" id="formRegistro">

						<div class="text-center">
							<h4>Registro de datos</h4>
						</div>

						<p class="small">
							Antes de comenzar, por favor registre la siguiente información.
							Esta información es privada y se utilizará solo para el estudio de seguridad cognitiva y es 100% confidencial.
						</p>

						<div class="row">
							<div class="form-group col-md-6">
								<label for="">Nombre</label>
								<input type="text" class="form-control input-sm" v-autoname maxlength="50"
								       required v-model="registro.nombre">
							</div>
							<div class="form-group col-md-6">
								<label for="">Apellido</label>
								<input class="form-control input-sm" v-autoname maxlength="50" 
								       required v-model="registro.apellido">
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label for="">Género</label>
								<select asp-items="Model.Generos" v-model="registro.genero" v-autoname
								        class="form-select input-sm">
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="">Ocupación</label>
								<select asp-items="Model.Ocupaciones" v-model="registro.ocupacion" v-autoname
								        class="form-select input-sm">
								</select>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label for="">Edad</label>
								<input class="form-control input-sm integer" v-autoname v-model="registro.edad" maxlength="2">
							</div>
							<div class="form-group col-md-6">
								<label for="">Actividad</label>
								<select asp-items="Model.Actividades" v-model="registro.actividad" name="actividad[]"
								        class="form-control input-sm">
								</select>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label for="">Años de experiencia en cyber-seguridad</label>
								<select asp-items="Model.Anios" v-model="registro.experienciaSeguridad" v-autoname
								        class="form-select input-sm">
								</select>
							</div>

							<div class="form-group col-md-6">
								<label for="">Correo electrónico</label>
								<input type="email" class="form-control input-sm" v-autoname maxlength="80" v-model="registro.email">
							</div>
						</div>


						<div class="text-center mb-2">
							<label class="form-check-label" style="cursor: pointer">
								<input class="form-check-input" type="checkbox" value="" v-model="acepto" style="width:20px; height: 20px"> 
								Acepto las condiciones.
							</label>
						</div>

						<div class="text-center">
							<button type="submit" :disabled="!acepto">Comenzar Evaluación</button>
						</div>
					</form>
				</div>

			</div>

		</div>
	</section><!-- End Contact Section -->
</div>

@section Scripts {
	@await Html.PartialAsync("_Validation")

	<script>

		Vue.createApp({
			data() {
				return {
					registro: @Html.Raw(ViewBag.registro),
					baseUrl: '@ViewBag.self',
					acepto: false,
				}
			},
			methods: {
				registrar() {
					var m = this.registro;
					jsonPost(this.baseUrl + '/registrar', m).then(r => {
						if (r.error)
							return alert(r.error);
						window.location.href = r.url;
					});
					return false;
				},
			},
			mounted() {
				$('.integer').numeric("positiveInteger");
				var self = this;
				$('#formRegistro').validate({
					submitHandler: this.registrar
				});
				$('#formLogin').validate({
					submitHandler: ()=> { return false; }
				});
			}
		})
		.use(globalDirectives)
		.mount('#app')

	</script>
}