html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}


div.error {
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.acierto-examen {
	background: #16be7e;
	background: rgba(22, 190, 126, 0.938) !important;
}

.error-examen {
	background: rgb(211, 53, 53);
}

@media print {
	.noprint {
		visibility: hidden;
	}
}

/* FORM REDUCIDO */

.smallForm label {
	font-size: smaller !important;
	padding: 3px 10px !important;
}

.smallForm .form-group {
	margin-bottom: 4px !important;
}

.smallForm input.form-control {
	font-size: smaller !important;
	padding: 4px 10px !important;
}

.smallForm button.dropdown-toggle {
	font-size: smaller !important;
	padding: 3px 10px !important;
}

.smallForm .form-control {
	height: auto !important;
}